Load CSV using pandas

In [1371]:
import pandas as pd

In [1372]:
df = pd.read_csv("dirty_dataset.csv")

Show   1. Number of Rows   2. Number of Columns   3. data types   4. summary stats

In [1373]:
NoOfRows = df.shape[0]
NoOfColumns = df.shape[1]

In [1374]:
print(f"The number of rows are - ",NoOfRows)
print(f"The number of columns are - ",NoOfColumns)

The number of rows are -  7
The number of columns are -  4

In [1375]:
df.dtypes

Name         object
Quantity    float64
Price       float64
Date         object
dtype: object

In [1376]:
df.describe()

        Quantity       Price
count   6.000000    6.000000
mean    6.666667  166.666667
std     2.875181   75.277265
min     3.000000  100.000000
25%     5.000000  112.500000
50%     6.000000  150.000000
75%     9.250000  187.500000
max    10.000000  300.000000

3. Clean the data:

-> remove duplicate rows

-> handle missing values (drop or fill)

-> convert text to lowercase

-> strip extra spaces

-> convert columns to correct data types

In [1377]:
print(df)

       Name  Quantity  Price        Date
0    John        10.0  100.0  2024-01-12
1      anna       5.0  200.0  2024/02/05
2     MIKE        NaN  150.0  12-03-2024
3       NaN       7.0    NaN         NaN
4     Sarah       3.0  300.0  2024-05-10
5    John        10.0  100.0  2024-01-12
6      mike       5.0  150.0  2024-03-15

In [1378]:
df = df.dropna()

In [1379]:
print(df)

       Name  Quantity  Price        Date
0    John        10.0  100.0  2024-01-12
1      anna       5.0  200.0  2024/02/05
4     Sarah       3.0  300.0  2024-05-10
5    John        10.0  100.0  2024-01-12
6      mike       5.0  150.0  2024-03-15

In [1380]:
df["Name"] = df["Name"].str.lower().replace(r" ","",regex=True)
df["Date"] = df["Date"].str.replace(r"[//]","-",regex=True)

In [1381]:
print(df)

    Name  Quantity  Price        Date
0   john      10.0  100.0  2024-01-12
1   anna       5.0  200.0  2024-02-05
4  sarah       3.0  300.0  2024-05-10
5   john      10.0  100.0  2024-01-12
6   mike       5.0  150.0  2024-03-15

In [1382]:
df = df.drop_duplicates()

In [1383]:
print(df)

    Name  Quantity  Price        Date
0   john      10.0  100.0  2024-01-12
1   anna       5.0  200.0  2024-02-05
4  sarah       3.0  300.0  2024-05-10
6   mike       5.0  150.0  2024-03-15

In [1384]:
df.dtypes

Name         object
Quantity    float64
Price       float64
Date         object
dtype: object

In [1385]:
df["Date"] = pd.to_datetime(df["Date"],errors="coerce")

In [1386]:
print(df)

    Name  Quantity  Price       Date
0   john      10.0  100.0 2024-01-12
1   anna       5.0  200.0 2024-02-05
4  sarah       3.0  300.0 2024-05-10
6   mike       5.0  150.0 2024-03-15

In [1387]:
df.dtypes

Name                object
Quantity           float64
Price              float64
Date        datetime64[ns]
dtype: object

In [1388]:
df["total_price"] = df["Price"]*df["Quantity"]

In [1389]:
print(df)

    Name  Quantity  Price       Date  total_price
0   john      10.0  100.0 2024-01-12       1000.0
1   anna       5.0  200.0 2024-02-05       1000.0
4  sarah       3.0  300.0 2024-05-10        900.0
6   mike       5.0  150.0 2024-03-15        750.0

In [1390]:
df.to_csv("cleaned_dataset.csv",index=False,encoding="utf-8")